@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*--- p variedades -----------------*/
#navresponsive {
  display: none;
  margin: auto;
  text-align: left;
  width: 100%;
  padding: 0 30px; }
  #navresponsive div {
    width: 29%; }
  #navresponsive div:first-child {
    margin-top: 21px;
    width: 70%; }
  #navresponsive .dropdown {
    text-align: right;
    margin-top: 14px; }
    #navresponsive .dropdown button {
      font-size: 35px; }
    #navresponsive .dropdown div {
      position: relative;
      transform: none; }
    #navresponsive .dropdown .btn {
      padding: 0; }
    #navresponsive .dropdown .btn-secondary {
      background: none;
      border: none; }
    #navresponsive .dropdown .dropdown-toggle::after {
      display: none; }
    #navresponsive .dropdown .btn-secondary.focus, #navresponsive .dropdown .btn-secondary:focus {
      box-shadow: none; }
    #navresponsive .dropdown .dropdown-menu.show {
      width: auto;
      margin: 0;
      font-size: inherit;
      border: none;
      border-radius: 5px; }
      #navresponsive .dropdown .dropdown-menu.show .dropdown-item {
        color: #7C7C7C;
        font-weight: inherit;
        text-align: right; }
      #navresponsive .dropdown .dropdown-menu.show .dropdown-item:hover, #navresponsive .dropdown .dropdown-menu.show .dropdown-item:active, #navresponsive .dropdown .dropdown-menu.show .dropdown-item:focus {
        background: none;
        color: #BB1413; }

body {
  font-family: "Ubuntu", Arial, sans-serif;
  margin: auto; }
  body a, body a:hover {
    text-decoration: none; }
  body p {
    color: #7C7C7C;
    font-family: "Ubuntu", Arial, sans-serif; }
  body h1, body h2, body h3 {
    font-weight: 500; }
  body h2 {
    font-size: 50px; }
  body h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #BB1413; }
  @media (max-width: 500px) {
    body h2 {
      font-size: 30px !important;
      line-height: 35px !important; } }

/*--header  ---------------------------------*/
header {
  position: relative;
  background-image: url(../images/fondo.jpg);
  background-origin: content-box;
  background-position: center 80px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /*--header breakpoints ---------------------------------------------------*/
  /*- NAV RESPONSIVE DISPLAY ----*/
  /*- Sidebar y button up desaparecen ----*/ }
  header #navegador {
    background: #BB1413;
    height: 80px; }
    header #navegador #navdesktop {
      margin: auto;
      width: 70%;
      display: flex;
      justify-content: space-between; }
      header #navegador #navdesktop ul {
        display: flex;
        justify-content: space-between; }
        header #navegador #navdesktop ul li {
          text-align: center;
          display: inline-block;
          margin-top: 30px;
          padding: 0 15px;
          box-sizing: border-box; }
          header #navegador #navdesktop ul li a {
            color: white;
            padding-bottom: 4px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px; }
          header #navegador #navdesktop ul li a:hover {
            border-bottom: 1px solid white; }
        header #navegador #navdesktop ul #li1 {
          padding: 0 15px 0 0; }
        header #navegador #navdesktop ul #li2 {
          padding: 0 0 0 15px; }
      header #navegador #navdesktop div {
        margin-top: 20px;
        display: inline-block; }
  header #banner {
    width: 45%;
    margin: auto;
    padding: 110px 0; }
    header #banner #sglh1 {
      margin-bottom: 30px; }
      header #banner #sglh1 h1 {
        font-size: 40px;
        color: #BB1413;
        padding: 10px 15px;
        display: inline-block;
        border: solid 2px #BB1413;
        border-radius: 10px;
        box-sizing: border-box;
        margin-bottom: 10px; }
    header #banner p {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: #7C7C7C; }
    header #banner div {
      display: block;
      margin-bottom: 40px; }
      header #banner div h3 {
        font-size: 36px;
        font-weight: 500;
        line-height: 42px;
        color: #BB1413;
        margin-bottom: 10px; }
    header #banner #abanner {
      font-weight: 500;
      height: 40px;
      font-size: 17px;
      border-radius: 10px;
      color: white;
      background: #BB1413;
      padding: 10px 20px;
      box-sizing: border-box; }
    header #banner #sidebar {
      position: fixed;
      right: -10px;
      top: 100px; }
      header #banner #sidebar a {
        display: inline-block;
        width: 100%;
        background: #AEAEAE;
        color: white;
        padding: 10px 20px 10px 0;
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 15px;
        text-decoration: none;
        font-size: 14px; }
        header #banner #sidebar a:hover {
          font-weight: 700; }
        header #banner #sidebar a i {
          color: white;
          font-size: 16px; }
    header #banner #upbutton {
      background: #BB1413;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      z-index: 10;
      position: fixed;
      margin-bottom: 0px;
      right: 40px;
      bottom: 40px; }
      header #banner #upbutton a {
        display: inline-block;
        padding: 15px;
        box-sizing: border-box; }
        header #banner #upbutton a span {
          color: white; }
  @media (max-width: 1060px) {
    header #navegador #navdesktop {
      width: 80%; }
    header #banner {
      width: 60%; }
      header #banner #sglh1 {
        margin-bottom: 30px; }
      header #banner div {
        margin-bottom: 45px; } }
  @media (max-width: 950px) {
    header #navegador #navdesktop {
      width: 90%; } }
  @media (max-width: 820px) {
    header #navegador #navdesktop {
      display: none; }
    header #navegador #navresponsive {
      display: flex; } }
  @media (max-width: 670px) {
    header #banner {
      width: 90%; }
      header #banner #sidebar, header #banner #upbutton {
        display: none; } }

/*--sistema  ---------------------------------*/
#sist {
  background: url(../images/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1; }
  #sist #gradiente {
    padding-bottom: 130px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 0) 50%, #e6e6e6 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(243, 243, 243, 0)), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 0) 50%, #e6e6e6 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 0) 50%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 0) 50%, #e6e6e6 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(243, 243, 243, 0) 50%, #e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 ); }
    #sist #gradiente div {
      padding-top: 35px;
      margin: auto;
      width: 70%;
      text-align: center; }
      #sist #gradiente div h2 {
        color: white;
        margin-bottom: 55px; }
      #sist #gradiente div article {
        display: inline-block;
        width: 49%; }
        #sist #gradiente div article h4 {
          padding: 10px 0; }
        #sist #gradiente div article p {
          width: 90%;
          margin: auto;
          font-size: 15px;
          font-weight: 300;
          line-height: 22px;
          color: #7C7C7C; }
    @media (max-width: 800px) {
      #sist #gradiente div article {
        width: 100%;
        margin-bottom: 15px; }
      #sist #gradiente div article:last-child {
        margin-bottom: 0; } }
  @media (max-width: 1000px) {
    #sist {
      background: url(../images/fondo1b.jpg);
      background-repeat: no-repeat;
      background-size: contain; } }
  @media (max-width: 750px) {
    #sist {
      background: url(../images/fondo1c.jpg);
      background-repeat: no-repeat;
      background-size: contain; } }
  @media (max-width: 620px) {
    #sist {
      background: url(../images/fondo1d.jpg);
      background-repeat: no-repeat;
      background-size: contain; } }

/*--caracter├¡sticas  ---------------------------------*/
#caract {
  text-align: center;
  background: url(../images/fondocaract.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding-bottom: 100px; }
  #caract h2 {
    width: 100%;
    color: #BB1413;
    margin-bottom: 60px;
    padding-top: 35px; }
  #caract #divarticle {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: initial; }
    #caract #divarticle article {
      display: inline-block;
      width: 30%; }
      #caract #divarticle article .divimg {
        width: 100%;
        height: auto;
        margin-bottom: 15px; }
        #caract #divarticle article .divimg img {
          max-width: 100%;
          height: auto; }
      #caract #divarticle article h4 {
        color: black; }
      #caract #divarticle article p {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        color: #7C7C7C; }
      #caract #divarticle article ul li {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        color: #7C7C7C; }
  #caract a {
    display: inline-block;
    font-weight: 500;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    color: white;
    background: #BB1413;
    padding: 10px 20px;
    box-sizing: border-box; }
  @media (max-width: 850px) {
    #caract #divarticle {
      width: 90%; } }
  @media (max-width: 650px) {
    #caract #divarticle {
      display: inline-block;
      text-align: center; }
      #caract #divarticle article {
        width: 80%;
        margin-bottom: 40px; } }

/*--capt  ---------------------------------*/
#capt {
  background-color: #EFEFEF;
  margin-top: -1px;
  margin-bottom: -30px; }
  #capt #divflex {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px; }
    #capt #divflex div {
      width: 38%;
      text-align: center;
      height: auto; }
      #capt #divflex div img {
        max-width: 90%;
        height: auto; }
    #capt #divflex div:nth-child(odd) img {
      padding-top: 85px; }

/*--words  ---------------------------------*/
#words {
  background: url(../images/fondowordstop.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -1px; }
  #words #wordsfondo2 {
    background: url(../images/fondowordsbottom.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    padding: 70px 30px 100px 30px; }
    #words #wordsfondo2 div {
      width: 70%;
      margin: auto; }
      #words #wordsfondo2 div img {
        width: 100%;
        height: auto; }

/*--func ---------------------------------*/
#func #contenedor {
  width: 70%;
  margin: auto;
  padding-top: 35px; }
  #func #contenedor h2 {
    color: #BB1413;
    text-align: center;
    margin-bottom: 25px; }
  #func #contenedor h4 {
    text-align: center;
    margin-bottom: 25px; }
  #func #contenedor #modbase {
    margin-bottom: 70px; }
    #func #contenedor #modbase div {
      border: 2px solid #BB1413;
      border-radius: 10px;
      padding: 50px; }
      #func #contenedor #modbase div ul {
        display: inline-block;
        width: 49%; }
        #func #contenedor #modbase div ul li {
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          color: #7C7C7C; }
          #func #contenedor #modbase div ul li span {
            color: #BB1413;
            padding-right: 10px; }
  #func #contenedor #modcompl #divflex2 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap; }
    #func #contenedor #modcompl #divflex2 article {
      width: 48%;
      display: inline-block;
      margin-bottom: 50px; }
      #func #contenedor #modcompl #divflex2 article div {
        display: inline-block;
        width: 23%;
        height: auto; }
        #func #contenedor #modcompl #divflex2 article div img {
          max-width: 100%;
          height: auto; }
      #func #contenedor #modcompl #divflex2 article div:last-child {
        width: 73%;
        padding-left: 1%; }
        #func #contenedor #modcompl #divflex2 article div:last-child span {
          font-size: 15px;
          font-weight: 400;
          line-height: 15px;
          color: black; }
        #func #contenedor #modcompl #divflex2 article div:last-child p {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: #7C7C7C; }
  #func #contenedor #video {
    text-align: center;
    padding: 35px 0 70px 0; }
    #func #contenedor #video #divvideo {
      position: relative;
      padding-bottom: 56.25%;
      overflow: hidden; }
      #func #contenedor #video #divvideo iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
@media (max-width: 900px) {
  #func #contenedor {
    width: 80%; }
    #func #contenedor #modbase div {
      padding: 35px; } }
@media (max-width: 750px) {
  #func #contenedor #modbase div ul {
    width: 100%;
    text-align: center; }
  #func #contenedor #modcompl #divflex2 {
    display: block; }
    #func #contenedor #modcompl #divflex2 article {
      width: 100%; }
      #func #contenedor #modcompl #divflex2 article div:first-child {
        text-align: right; } }
@media (max-width: 500px) {
  #func #contenedor {
    width: 90%; }
    #func #contenedor #modcompl #divflex2 {
      display: block; }
      #func #contenedor #modcompl #divflex2 article {
        margin-bottom: 30px;
        width: 100%; }
        #func #contenedor #modcompl #divflex2 article div:first-child {
          text-align: center;
          width: 100%;
          margin-bottom: 15px; }
        #func #contenedor #modcompl #divflex2 article div:last-child {
          text-align: center;
          width: 100%;
          padding-left: 0; } }

/*--form ---------------------------------*/
#form {
  background: #EFEFEF; }
  #form #formcontenedor {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 35px; }
    #form #formcontenedor h2 {
      color: #324165;
      margin-bottom: 50px; }
    #form #formcontenedor div {
      width: 500px;
      margin: auto; }
      #form #formcontenedor div input, #form #formcontenedor div textarea {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: #7C7C7C;
        font-family: "Ubuntu", Arial, sans-serif; }
      #form #formcontenedor div textarea {
        margin-bottom: 50px; }
      #form #formcontenedor div input[type=submit] {
        display: inline-block;
        width: auto;
        font-weight: 500;
        height: 40px;
        font-size: 17px;
        border-radius: 10px;
        color: white;
        background: #324165;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-bottom: 90px; }
      #form #formcontenedor div input[type=number]::-webkit-inner-spin-button,
      #form #formcontenedor div input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; }
      #form #formcontenedor div p:last-child {
        padding-bottom: 60px; }
  @media (max-width: 850px) {
    #form #formcontenedor {
      width: 90%; } }
  @media (max-width: 680px) {
    #form #formcontenedor div {
      width: 100%; } }

/*--nosotros  ---------------------------------*/
#nos {
  background: url(../images/nos1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px; }
  #nos div {
    text-align: center;
    padding-top: 7%;
    width: 45%;
    margin: auto; }
    #nos div h2 {
      color: white;
      margin-bottom: 40px;
      line-height: 55px; }
    #nos div a {
      font-weight: 500;
      height: 40px;
      font-size: 17px;
      border-radius: 10px;
      color: #324165;
      background: white;
      padding: 10px 20px;
      box-sizing: border-box;
      margin-bottom: 20px; }
  @media (max-width: 850px) {
    #nos {
      height: 260px; }
      #nos div {
        width: 90%;
        padding-top: 15%; }
        #nos div h2 {
          font-size: 45px; } }

/*-footer  --------------------------------------------*/
footer {
  height: 125px;
  /*-- footer responsive ////////////////////////////--*/ }
  footer #foot1 {
    height: 80px;
    background: #324165; }
    footer #foot1 nav {
      width: 70%;
      margin: auto;
      display: flex;
      justify-content: space-between; }
      footer #foot1 nav div {
        padding-top: 25px;
        display: inline-block;
        width: 23%; }
      footer #foot1 nav ul {
        display: inline-block; }
        footer #foot1 nav ul li {
          width: 49%;
          display: inline-block;
          color: #58BFCE;
          font-size: 20px; }
          footer #foot1 nav ul li a {
            display: inline-block;
            padding: 3px 0 0 5px;
            font-size: 13px;
            font-weight: 400;
            line-height: 12px;
            color: white; }
          footer #foot1 nav ul li a:hover {
            color: #58BFCE; }
      footer #foot1 nav #datos {
        padding-top: 20px;
        text-align: center;
        width: 59%; }
      footer #foot1 nav #redes {
        padding-top: 27px;
        width: 17%;
        display: flex;
        text-align: right; }
        footer #foot1 nav #redes li a {
          font-size: 23px;
          box-sizing: border-box; }
        footer #foot1 nav #redes li a:hover {
          color: #58BFCE; }
  footer #foot2 {
    width: 70%;
    height: 45px;
    margin: auto;
    text-align: center; }
    footer #foot2 p {
      margin-top: 15px;
      font-size: 11px;
      font-weight: 400;
      line-height: 16px;
      color: #7C7C7C; }
      footer #foot2 p a {
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        color: #324165; }
  @media (max-width: 1060px) {
    footer #foot1 nav {
      width: 80%; } }
  @media (max-width: 900px) {
    footer #foot1 nav {
      width: 90%; }
    footer #foot2 {
      width: 90%; } }
  @media (max-width: 780px) {
    footer {
      /*-- footer ocupa una columna--*/ }
      footer #foot1 {
        height: 180px; }
        footer #foot1 nav {
          display: inline-block;
          margin: auto;
          width: 100%;
          text-align: center; }
          footer #foot1 nav div, footer #foot1 nav #redes {
            width: 100%; }
          footer #foot1 nav #datos {
            width: 80%; }
          footer #foot1 nav #redes {
            display: inline-block;
            text-align: center;
            padding-top: 20px; }
            footer #foot1 nav #redes li {
              width: auto;
              padding: 0 5px; } }
  @media (max-width: 490px) {
    footer #foot1 {
      height: 220px; }
      footer #foot1 nav #datos li {
        display: block;
        width: 100%; } }

/*# sourceMappingURL=style.css.map */
