
/*--- p variedades -----------------*/
@mixin textclass($size, $weight, $linea, $color){
	font-size: $size;
	font-weight: $weight;
	line-height: $linea;
	color: $color;
}



@mixin botones($color, $back){
	font-weight: 500;
	height: 40px;
	font-size: 17px;
	border-radius: 10px;
	color: $color;
	background: $back;
	padding: 10px 20px;
	box-sizing: border-box;
}


@mixin gradientebyn($valor1, $uno, $valor2){
	background: rgba($valor1,$valor1,$valor1,$uno);
	background: -webkit-linear-gradient(top, rgba($valor1,$valor1,$valor1,$uno), rgba($valor2,$valor2,$valor2,$uno));
	background: -o-linear-gradient(top, rgba($valor1,$valor1,$valor1,$uno), rgba($valor2,$valor2,$valor2,$uno));
    background: -moz-linear-gradient(top, rgba($valor1,$valor1,$valor1,$uno), rgba($valor2,$valor2,$valor2,$uno));
    background: linear-gradient(top, rgba($valor1,$valor1,$valor1,$uno), rgba($valor2,$valor2,$valor2,$uno));
}
