@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

$font: 'Ubuntu', Arial, sans-serif;

$bordo: #BB1413;
$white: white;
$azul: #324165;
$gris1: #7C7C7C;
$gris2: #AEAEAE;
$gris3: #EFEFEF;
$turq: #58BFCE;

$max: 70%;
$half: 80%;
$full: 90%;